<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoom Clone</title>
    <script src="script.js"></script>
    <script>
      console.log("<%= room_id %>");
    </script>
  </head>
  <body>
    <h3>Lets build a zoom clone 🚀</h3>
  </body>
</html>
