<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="style.css" rel="stylesheet" />
    <link
      href="https://bootswatch.com/4/slate/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="/socket.io/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoom Clone</title>
    <script>
      const ROOM_ID = "<%= room_id %>";
    </script>
  </head>
  <body class="bg-dark">
    <h3>zoom clone 🚀</h3>
    <div id="video-grid"></div>
    <script src="script.js"></script>
  </body>
</html>
