.home {
  min-height: 90vh;
}

.home__heading {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.05);
}

.home__heading img {
  height: 70px;
}

.join__meeing {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meeting-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.join__meeing > .meeting-form label {
  font-size: larger;

  padding: 4px;
}

.join__meeing > .meeting-form input {
  flex: 0.9;
  margin: 10px;
  padding: 5px;
}

.join__meeing button {
  width: 10vw;
}

.create__meeting {
  display: flex;
  justify-content: center;
  width: 100%;
}

.create__meeting button {
  width: 18vw;
}

@media only screen and (max-width: 600px) {
  .by {
    font-size: smaller;
  }
  .home__heading h3 {
    margin: 10px;
    font-size: larger !important;
  }
  .home__heading img {
    height: 40px;
  }
  .join__meeing button {
    width: 250px;
  }
  .create__meeting button {
    width: 300px;
  }
}
